$primaryBlack: #151515;
$thirdBlack: #232323;
$hoverBlack: #585858;
$white: #FFFFFF;
$green: #ACFF9E;
$red: #FF695B;
$yellow: #FFD28F;
$twitchColor: #6441A5;

@font-face {
  font-family: 'PPmori-Regular';
  src: url('C:\Users\Admin\Documents\GitHub\ZALUPAWEB\zalupa-web\src\fonts\PPMori-Regular.otf') format('woff2');
}

@font-face {
    font-family: 'Libre';
    src: url('../fonts/LibreBarcode128Text-Regular.ttf');
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PPmori-Regular', sans-serif;
    transition: all 0.2s ease;
}

body {
    background: linear-gradient(45deg, #000000, #222222);
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

button, select, input, .look-video-button, textarea{
    padding: 10px 15px;
    border-radius: 15px;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    outline: none;
    padding-right: 15px;
    background-color: #15151570;
    border: 1px solid #494949;

    &:hover{
        scale: 1.01;
        filter: brightness(70%);
    }
    &:active {
        scale: .999;
    }
}

p, h1, label, select, a, input, select, button, span {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

p, a {
    font-size: 1em;
}

.input-select-title {
    z-index: 1;
}